<div class="container-fluid">
  <div class="row">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon text-center">

      <div class="container-fluid">
        <%= link_to "#", class: "navbar-brand" do %>
          <%= image_tag "https://i.imgur.com/seN3rCn.png" %>
        <% end %>
        <h1 class="navbar-brand mb-0 text-danger">Shop My Closet</h1>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <li class="nav-item active">
                <%= link_to "Home", "#", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Messages", "#", class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
              </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Action", "#", class: "dropdown-item" %>
                  <%= link_to "Another action", "#", class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link text-danger" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row linha-2">
    <div class="links-wrapper text-uppercase">
      <div class="col-12 row p-0 justify-content-around align-items-center">
      <%# botar padding %>
        <div class="col"><p>Bags</p></div>
        <div class="col"><p>Jewelry</p></div>
        <div class="col"><p>Clothing</p></div>
        <div class="col"><p>Footwear</p></div>
        <div class="col"><p>Belts</p></div>
        <div class="col"><p>Exotic</p></div>

      </div>
    </div>
  </div>
</div>
