<%# <h1 class="container">Fashion AirBnB</h1> %>

<% if @accessories.empty? %>
  <p>No accessories found for '<%= params[:query] %>'.</p>
  <p>Displaying all available accessories:</p>
  <% Accessory.all.each do |accessory| %>
    <div class="list-group-item">
  <div class="col-md-4 mb-4">
          <div class="card-item">
            <img src="<%= accessory.image %>" class="card-img-top" alt="<%= accessory.name %> Image">
            <div class="card-body">
              <h5 class="card-title"><%= accessory.name %></h5>
              <p class="card-text"><%=accessory.description%></p>
              <div class="button-group">
                <%= link_to "Details", accessory_path(accessory), class: "btn btn-success btn-sm mt-3" %>
                <%# if current_user == accessory.user %>
                <%= link_to 'Edit', edit_accessory_path(accessory), class: "btn btn-primary btn-sm mt-3" %>
                <%= link_to 'Remove', accessory_path(accessory),  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-warning btn-sm mt-3" %>
                <%# end %>
              </div>
            </div>
          </div>
        </div>
  <% end %>
<% else %>
  <% unless params[:query].nil? %>
    <p>Displaying results for '<%= params[:query] %>'.</p>
  <% end %>

  <div class="container">
    <ul class="list-group">
      <% @accessories.each do |accessory| %>
       <div class="col-md-4 mb-4">
          <div class="card-item">
            <img src="<%= accessory.image %>" class="card-img-top" alt="<%= accessory.name %> Image">
            <div class="card-body">
              <h5 class="card-title"><%= accessory.name %></h5>
              <p class="card-text"><%=accessory.description%></p>
              <div class="button-group">
                <%= link_to "Details", accessory_path(accessory), class: "btn btn-success btn-sm mt-3" %>
                <%# if current_user == accessory.user %>
                <%= link_to 'Edit', edit_accessory_path(accessory), class: "btn btn-primary btn-sm mt-3" %>
                <%= link_to 'Remove', accessory_path(accessory),  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-warning btn-sm mt-3" %>
                <%# end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </ul>

  <%= link_to 'New Accessory', new_accessory_path, class: 'btn btn-primary' %>
</div>
