
<%= form_with(url: accessories_path, method: :get, local: true) do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query, '', id: 'search', data: {autocomplete_source: accessories_path}) %>
  <%= submit_tag("Search") %>
  <%= link_to 'Back', accessories_path(query: nil), class: 'btn btn-primary' %>
<% end %>
<% if @accessories.empty? %>
  <p>No accessories found for '<%= params[:query] %>'.</p>
  <p>Displaying all available accessories:</p>
  <% Accessory.all.each do |accessory| %>
    <div class="list-group-item">
      <li>
        <%= link_to accessory.name, accessory_path(accessory) %><br>
        Description: <%= accessory.description %><br>
        Price per day: <%= accessory.price_per_day %><br>
        <%# if current_user == accessory.user %>
          <%= link_to 'Edit', edit_accessory_path(accessory) %>
          <%= link_to 'Remove', accessory_path(accessory), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        <%# end %>
      </li>
    </div>
  <% end %>
<% else %>
  <% unless params[:query].nil? %>
    <p>Displaying results for '<%= params[:query] %>'.</p>
  <% end %>
  <div class="container">
    <ul class="list-group">
      <% @accessories.each do |accessory| %>
        <div class="list-group-item">
          <li>
            <%= link_to accessory.name, accessory_path(accessory) %><br>
            Description: <%= accessory.description %><br>
            Price per day: <%= accessory.price_per_day %><br>
            <%# if current_user == accessory.user %>
              <%= link_to 'Edit', edit_accessory_path(accessory) %>
              <%= link_to 'Remove', accessory_path(accessory), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            <%# end %>
          </li>
        </div>
      <% end %>
    </ul>
    <%= link_to 'New Accessory', new_accessory_path, class: 'btn btn-primary' %>
  </div>
<% end %>

