<h1>Accessories#index</h1>

<% @accessories.each do |accessory| %>
  <div>
    <h2><%= accessory.name %></h2>
    <p><%= accessory.description %></p>
    <p><%= number_to_currency(accessory.price) %></p>

    <% if current_user == accessory.user %>
      <p>
        <%= link_to 'Edit', edit_accessory_path(accessory) %>
        <%= link_to 'Delete', accessory, turbo_method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </div>
<% end %>
