
<div class="text-center container mt-5">
  <div>
    <h1><%= @accessory.name %></h1>
    <h2> <%= @accessory.description %></h2>
  </div>



  <div class="row">
    <div class="col-md-6 p-2 rounded">
      <p><%= "Price: $#{@accessory.price}" %></p>
      <p><%= "Location: #{@accessory.location}" %></p>
      <p><%= @accessory.availability == true ? "Currently Available: Yes" : "Currently Available: No" %></p>
      <p><%= "Condition: #{@accessory.condition}" %></p>
    </div>
    <div class ="col-md-6 p-2 rounded">
      <p><%= "image goes here" %></p>
    </div>
  </div>


  <div class="m-3">
    <p> <%= link_to "BACK", accessories_path %></p>
  </div>
</div>
