
<%= stylesheet_link_tag 'card_product_show', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'btn_ghost_show', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'btn_flat_show', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class=" container mt-5">

  <div class="card-product-show">
    <%= image_tag("#{@accessory.image}")%>
    <div class="card-product-show-infos text-start">
      <h2><%= @accessory.name %></h2>
      <p><%= "Description: #{@accessory.description}" %></p>
      <p><%= "Category: #{@accessory.category}" %></p>
      <p><%= "Price per day: $#{@accessory.price_per_day}" %></p>
      <p><%# "Location: #{@accessory.location}" %></p>
      <p><%# @accessory.availability == true ? "Currently Available: Yes" : "Currently Available: No" %></p>
      <p><%= "Condition: #{@accessory.condition}" %></p>
      <p class="pt-2"><%= link_to "Borrow now", confirm_accessory_path(@accessory), class: "btn btn-lg btn-flat-show" %></p>
    </div>
  </div>

  <div class="text-center pt-5">
    <%= link_to "BACK", accessories_path, class: "btn btn-ghost-show" %>
  </div>
</div>
