<!DOCTYPE html>
<html lang="en">

<head>
  <!-- language: lang-json -->
  <script type="importmap">
  {
  "imports": {
    "application": "/assets/application.js"
  }
}
  </script>
  <meta charset="utf-8">
  <title>Shop My Closet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag "turbo", type: "module" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>
  <%= yield %>
  <%= render "shared/footer" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</body>

</html>
